* { 

    margin: 0px;
    background-color: #231f20;
}

.Violin { 
    margin-top: 20;
    img{
        width: auto;
        height: 250px;
    }
    
}

.Violin_2 {
    margin-top: -250;
    margin-left: 250;
    img{
        width: auto;
        height: 250px;
    }
}

.CV {
    img{
        width: 120px;
        height: auto;
    }
    
}

.projects {
    img{
        width: 250px;
        height: auto;
    }
}


body {
    width:50vw; 
    height: 50vh; 
    display: flex;
    flex-direction: column;
    background-color: #231f20;
    overflow-x: hidden;
} 

.h1 {
    margin-right: -200;
}

.orb {

    img {
        width: 200px;
        height: auto;
    }
}

.bandcamp {
    margin-left: 50px;
}


.Container { 
    background-color: black;
    display: flex;
    justify-content: space-around;
    background-color: #231f20;
    img[
        margin-top: -1800px;

    ]

}

.not_cropped {
    width:50vw; 
    height: 50vh;

    img {
        margin-left: 700px;
        margin-top: -1100px;
        width: 1300px;
        height: 900px;
    }

}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    margin-left: 300px;
    margin-top: 225px;
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 50px;
    border-radius: 12px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #ffffff;
  }
  
  .soundcloud {

        background: #231f20;
        color: white;

  }
  
  .youtube {
    background: #231f20;
    color: white;
  }

  .spotify {
    background: #231f20;
    color: white;

  }

  .apple-music {
    background: #231f20;
    color: white;

  }

  .bandcamp  {
    background: #231f20;
    color: white;
    margin-left: -6px;

  }
